<li class="nav-item active"><%= link_to 'Про нас', page_path('about'), class: "nav-link" %></li>
<li class="nav-item"><%= link_to 'Методика', page_path('method'), class: "nav-link" %></li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Послуги
  </a>
  <div class="dropdown-menu">
    <ul>
      <li class="dropdown-item"><%= link_to 'Англійська для компаній', page_path('eng_for_companies') %></li>
      <li class="dropdown-item"><%= link_to 'Підготовка до ЗНО', page_path('zno') %></li>
      <li class="dropdown-item"><%= link_to 'Англійська по Skype', page_path('skype') %></li>
      <li class="dropdown-item"><%= link_to 'Англійська для дітей', page_path('eng_for_children') %></li>
      <li class="dropdown-item"><%= link_to 'Спеціальні програми на літо', page_path('summer') %></li>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Визначити Ваш рівень</a>
    </ul>
  </div>
</li>
<li class="nav-item"><%= link_to 'Переклади', page_path('translation'), class: "nav-link" %></li>
<li class="nav-item"><%= link_to 'Вартість', page_path('price'), class: "nav-link" %></a></li>
<li class="nav-item">
  <a class="nav-link" href="#">Блог</a>
</li>
<li class="nav-item"><%= link_to 'Контакти', page_path('contacts'), class: "nav-link" %></li>
